<template>
    <section>
        <div class="hero is-info is-bold hero-body">
            <div class="container">
                <h1 class="title">
                    PDF-to-Text Service
                </h1>
            </div>
        </div>
        <div style="margin-top: 0.5%">
            <progress class="progress is-warning" value="15" max="100">15%</progress>
        </div>
        <div class="columns is-multiline is-centered" style="margin-top: 2%">
            <div class="column is-one-fifth"></div>
            <div class="column is-three-fifths">

                <b-field>
                    <b-upload
                            v-model="dropFiles"
                            type="is-info"
                            multiple
                            drag-drop
                    >
                        <section class="section">
                            <div class="content has-text-centered">
                                <p>Drop your files here or click to upload</p>
                            </div>
                        </section>
                    </b-upload>
                </b-field>

            </div>
            <div class="column is-one-fifth"></div>
            <div class="column is-one-third"></div>
            <div class="column is-one-third is-grouped">
                <div class="tags">
                    <span v-for="(file, index) in dropFiles"
                          :key="index"
                          class="tag is-warning" >
                    {{file.name}}
                    <button class="delete is-small"
                            type="button"
                            @click="deleteDropFile(index)">
                    </button>
                    </span>
                </div>

                <button class="button is-warning is-large">
                    <span class="icon">
                        <i class="fas fa-exchange-alt"></i>
                    </span>
                    <span>Convert</span>
                </button>
            </div>
            <div class="column is-one-third"></div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {
      dropFiles: [],
    };
  },
  methods: {
    deleteDropFile(index) {
      this.dropFiles.splice(index, 1);
    },
  },
};
</script>

<style scoped>
</style>
